body{
    margin:0px;
}

.pagina1_cuadro1{
    position: relative;
    background: #0a5bb8;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8vw ;
    align-items: center;
}
.pagina1_cuadro1_imgob{
    position: relative;
    top: 1vw;
    left: 40vw;
    
}
.pagina1_cuadro1_text1{
    position: relative;
    top: -51%;
    color: white;
    font-size: 1.5vw;
    left: 10vw;
}
.pagina1_cuadro1_text2{
    position: relative;
    top: -93%;
    color: white;
    font-size: 1.5vw;
    left: 25vw;
}
.pagina1_cuadro1_text3{
    position: relative;
    top: -10.7vw;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    left: 65vw;
}
.pagina1_cuadro2{
    
    position: relative;
    background: #ffffff;
    top: -14.4vw;
    left:80%;
    width: 15%;
    height: 3vw ;
    border-radius: 10vw;
    align-items: center;

}
.pagina1_cuadro2_tex1{
    position: relative;
    top: 0.5vw;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    left: 3.5vw;
}
.pagina1_fondo{
    align-items: center;
}
.pagina1_fondo_1{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5vh ;
}

.pagina1_cuadro3{
    position: relative;
    background: #ffffff;
    top: -1vw;
    left: 3%;
    width: 40%;
    height: 45vw ;
    border-radius: 1vw;
    align-items: center;

}
.pagina1_cuadro3_tx1{
    position: relative;
    top: 2vw;
    color: rgb(0, 0, 0);
    font-size: 2.5vw;
    line-height: 1.5;

}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.parrafo_container2{
    
}